<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>V-If</title>

    </head>
    <body>
        <div id="app">
            <button @click="switchShow">switch</button><br>
            <div v-if="isShow"><h1>Hello</h1></div>
            {{isShow}}
        </div>
    </body>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const App = {
            data(){
                return {
                    isShow: true,

                }
            },methods:{
                switchShow(){
                    this.isShow=!this.isShow;
                }

            },mounted(){

            }
        }
        const vue = Vue.createApp(App);
        vue.mount('#app');
    </script>
</html>