<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>V-Model</title>

    </head>
    <body>
        <div id="app">
            <input type="text" v-model="message"/>
            {{message}}<br><br>
            <input type="text" v-model="email"/>
            {{email}}<br><br>
            <input type="number" v-model="number1"/>
            {{number1}}<br><br>
        </div>
    </body>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const App = {
            data(){
                return {
                    message:'Hello',
                    email:'pim@gmail.com',
                    number1:0,

                }
            },methods:{

            },mounted(){

            }
        }
        const vue = Vue.createApp(App);
        vue.mount('#app');
    </script>
</html>