<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello World</title>
    </head>
    <body>
        <div id="app">
            <h1>{{message}}</h1>
            <p>{{message}}</p>
        </div>

        <div id="app2">
            <p>{{ count }}</p>
        </div>
    </body>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const App = {
            data(){
                return {
                    message: 'Hello Pim!!!',
                }
            }

        }
        Vue.createApp(App).mount('#app');

        const App2={
            data(){
                return{
                    count:1,
                }
            }

        }
        Vue.createApp(App2).mount('#app2')
    </script>
</html>