<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>V-Form</title>
</head>

<body>
    <div id="app">
        <h1 v-for="todo in todos" :value="todo.id">{{todo.id}} {{todo.description}}</h1>
        <ol>
            <li v-for="todo in todos" :value="todo.id">{{todo.description}}</li>
        </ol>
    </div>

</body>
<script src="https://unpkg.com/vue@3"></script>
<script>
    const App = {
        data() {
            return {
                todos: [{
                    id: 1,
                    description: 'eat'
                }, {
                    id: 2,
                    description: 'sleep'
                }, {
                    id: 3,
                    description: 'walk'
                }, {
                    id: 4,
                    description: 'work'
                }, {
                    id: 5,
                    description: 'play'
                }]
            }
        }
    }
    const vue = Vue.createApp(App);
    vue.mount('#app');
</script>

</html>