<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>counter </title>

    </head>
    <body>
        <div id="app">
            {{counter}}
        </div>
    </body>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const App = {
            data(){
                return {
                    counter:0,
                }
            },
            mounted(){
                setInterval(() => {
                    this.counter++
                },1000)
            }
        }
        const vue = Vue.createApp(App);
        vue.mount('#app');
    </script>
</html>