<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>counter 2</title>

    </head>
    <body>
        <div id="app">
            <h1>
                <button @click="inc">Add</button>
                {{counter}}
                <button @click="dec">delete</button>
            </h1>
        </div>
    </body>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const App = {
            data(){
                return {
                    counter:0,
                }
        },methods:{
            inc(){
                this.counter++;

            },
            dec(){
                if(this.counter == 0) return
                this.counter--;

            },

        },mounted(){

        }
    }
        const vue = Vue.createApp(App);
        vue.mount('#app');
    </script>
</html>