<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello World</title>
</head>

<body>
    <div id="app">
        <input type="number" v-model="celsius">fahrenheit : {{fahrenheit}}
    </div>

</body>
<script src="https://unpkg.com/vue@3"></script>
<script>
    const App = {
        data() {
            return {
                celsius: 25,
                //fahrenheit: 0 ,

            }
        },
        methods: {
            // convertToFahrenheit() {
            //     this.fahrenheit = 1.8 * this.celsius + 32;
            // }
        },
        computed: {
            fahrenheit() {
                return 1.8 * this.celsius + 32 //ใช้เมื่อcelsiusมีการเปลี่ยนแปลง
            }

        }

    }
    Vue.createApp(App).mount('#app');
</script>

</html>