<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>V-html</title>
</head>

<body>
    <div id="app">
        <textarea cols="30" rows="10" v-model="html"></textarea>
        <div>{{html}}</div>
        <div v-html="html"></div>
    </div>
</body>
<script src="https://unpkg.com/vue@3"></script>
<script>
    const App = {
        data() {
            return {
                html: '',
            }
        }
    }
    const vue = Vue.createApp(App);
    vue.mount('#app');
</script>

</html>